/* @import url(sidebar.css);
@import url(main.css); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

}

header {
    width: 100%;
    height: 80px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    position: sticky;
}

.logo {
    width: 250px;
    padding: 10px;
}

.profile {
    display: flex;
    width: 200px;
    gap: 10px;
    padding: 10px;
    align-items: center;
}

.photo {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: aquamarine;
}

main {
    width: 100%;
    display: flex;
    column-gap: 100px;
}

.sidebar {
    width: 350px;
    background: #2c2f6c;
    color: #cfd3ff;
    padding-top: 20px;
    position: sticky;
    overflow-y: scroll;
}

.section-title {
    padding: 15px 25px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    opacity: 0.6;
}

.menu {
    list-style: none;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 12px 25px;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}

.menu-item:hover {
    background: rgba(255, 255, 255, 0.08);
}

.menu-item.active {
    background: rgba(255, 255, 255, 0.12);
}


.text {
    flex: 1;
    font-size: 20px;
}

.right {
    font-size: 16px;
    opacity: 0.7;
}

.badge {
    font-size: 10px;
    padding: 3px 6px;
    border-radius: 4px;
    font-weight: bold;
}

.main-body {
    width: 100%;
    height: calc(100%-80px);
    overflow-y: scroll;
}

.main h1 {
    font-size: 50px;
    color: aquamarine;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.card {
    background-color: blue;
    height: 300px;
}