<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <meta name="description" content="Lorem">
    <meta name="keywords" content="lorem">
    <meta name="author" content="Nihad">
</head>

<body>
    <div class="container">
        <header style="width: 95%; height: 250px; background-color: aqua;">
            <img src="" alt="">
        </header>

        <nav>
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About us</a>
                </li>
                <li>
                    <a href="#">Recent articles</a>
                </li>
                <li>
                    <a href="#">Email</a>
                </li>
                <li>
                    <a href="#">Resources</a>
                </li>
                <li>
                    <a href="#">Links</a>
                </li>
            </ul>
        </nav>
        <div class="body">
            <section>
                <div class="section-up">
                    <div class="section-title">
                        <h2>Categories</h2>
                    </div>
                    <div class="section-list">
                        <ul>
                            <li>
                                <a href="#">Lorem ipsum dolor sit amet.</a>
                            </li>
                            <li>
                                <a href="#">Lorem ipsum dolor sit amet.</a>
                            </li>
                            <li>
                                <a href="#">Lorem ipsum dolor sit amet.</a>
                            </li>
                            <li>
                                <a href="#">Lorem ipsum dolor sit amet.</a>
                            </li>
                            <li>
                                <a href="#">Lorem ipsum dolor sit amet.</a>
                            </li>
                            <li>
                                <a href="#">Lorem ipsum dolor sit amet.</a>
                            </li>
                            <li>
                                <a href="#">Lorem ipsum dolor sit amet.</a>
                            </li>
                            <li>
                                <a href="#">Lorem ipsum dolor sit amet.</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="section-down">
                    <div class="section-title">
                        <h2>News</h2>
                    </div>
                    <div class="section-text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora nesciunt possimus expedita
                            alias
                            modi omnis molestiae mollitia voluptatibus ullam saepe!</p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus totam omnis alias
                            deleniti
                            ex optio mollitia quisquam excepturi vel repudiandae.</p>
                    </div>
                    <div class="section-btn"><a href="#">Read more</a></div>
                </div>
            </section>
            <main>
                <div class="main-up">
                    <div class="main-title">
                        <h2>Welcome to</h2>
                        <p>our website</p>
                    </div>
                    <div class="main-text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt exercitationem ipsum
                            praesentium, veniam ducimus perferendis magnam, quaerat aut earum dolor dolorem voluptates
                            quam
                            quas voluptatibus tempore, omnis inventore accusamus placeat.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quam excepturi iusto cum,
                            exercitationem reiciendis vel alias explicabo voluptatum eum eius commodi voluptatem,
                            dolorem
                            reprehenderit voluptate iste aliquam dolor iure.</p>
                    </div>
                    <div class="main-list">
                        <ul>
                            <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                            <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                            <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                            <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                            <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                        </ul>
                    </div>
                </div>
                <div class="main-down">
                    <div class="main-down1">
                        <div class="main-title">
                            <h2>About</h2>
                            <p>us</p>
                        </div>
                        <div class="main-text">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia, ab illum ut ipsa
                                obcaecati
                                consectetur, porro, nisi rem nemo numquam magni quos minima voluptate sed delectus nulla
                                at
                                in </p>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora recusandae iusto
                                explicabo
                                architecto, dicta laudantium numquam, ducimus pariatur voluptas totam sint saepe
                                sapiente,
                                molestiae corporis cum at maxime facere perspiciatis!</p>
                        </div>
                        <div class="main-btn"><a href="#">read more</a></div>
                    </div>
                    <div class="main-down2">
                        <div class="main-title">
                            <h2>Recent</h2>
                            <p>articles</p>
                        </div>
                        <div class="main-text">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia, ab illum ut ipsa
                                obcaecati
                                consectetur, porro, nisi rem nemo numquam magni quos minima voluptate sed delectus nulla
                                at
                                in </p>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora recusandae iusto
                                explicabo
                                architecto, dicta laudantium numquam, ducimus pariatur voluptas totam sint saepe
                                sapiente,
                                molestiae corporis cum at maxime facere perspiciatis!</p>
                        </div>
                        <div class="main-btn"><a href="#">read more</a></div>
                    </div>
                </div>
            </main>
        </div>

        <footer>
            <div class="footer-list">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Recent articles</a></li>
                    <li><a href="#">Email</a></li>
                    <li><a href="#">Resources</a></li>
                    <li><a href="#">Links</a></li>
                </ul>
            </div>
            <div class="footer-text">
                Lorem ipsum dolor sit.
            </div>
        </footer>
    </div>
</body>

</html>