@media (max-width: 992px){
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 600px){
    .container{
        grid-template-columns: 1fr;
    }
    
}