@import url(main.css);
@import url(footer.css);
@import url(responsive.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(34, 34, 34);
}

header{
    width: 100%;
    height: 70px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    z-index: 1000;
    gap: 5px;
    background-color: rgb(17, 17, 17);
    position: sticky;
    top: 0;
}
.logo{
    width: 350px;
    justify-items: center;
    color: rgb(212, 175, 55);
}
.searchbox {
    width: 60%;
}
.searchbox input{
    width: 100%;
    font-size: 20px;
    padding-left: 2%;
}
.head-btn{
    width: 230px;
    display: flex; 
    gap: 10px;

}
.HeadBtn button{
    width: 100px;
    height: 50px;
    color: black;
    background-color: rgb(212, 175, 55);
    border: none;
    font-size: 20px;
}
.HeadBtn button:hover{
    background-color: #ffffff;
    color: black;
    transition: 0.5s;
}