<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="wrap">
        <header>
            <img src="WhatsApp Image 2025-11-28 at 12.41.09.jpeg" width="100%">
        </header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">New Page 1</a></li>
                <li><a href="#">New Page 2</a></li>
                <li><a href="#">New Page 3</a></li>
                <li><a href="#">New Page 4</a></li>
            </ul>
        </nav>
        <div class="content">
            <aside>

                <div class="title">Main Menu</div>
                <div class="menu">
                    <ul>
                        <li><a href="#">Menu item 1</a></li>
                        <li><a href="#">Menu item 2</a></li>
                        <li><a href="#">Menu item 3</a></li>
                        <li><a href="#">Menu item 4</a></li>
                        <li><a href="#">Menu item 5</a></li>
                        <li><a href="#">Menu item 6</a></li>
                        <li><a href="#">Menu item 7</a></li>
                        <li><a href="#">Menu item 8</a></li>
                        <li><a href="#">Menu item 9</a></li>
                    </ul>
                </div>
                <div class="title">Block</div>
                <div class="block-content">
                    <p>Enter Block content here...</p><br>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt veniam modi nulla ducimus iure
                        molestias pariatur deleniti ipsum? Inventore voluptatibus debitis alias quos eum. Neque suscipit
                        voluptatum aspernatur numquam quam!</p>
                </div>

            </aside>
            <main>
                <div class="gallery">
                    <div class="title">Gallery</div>
                    <div class="gl-content">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat quo laboriosam sint modi
                            recusandae. Repellat maxime ipsa consequuntur rerum expedita voluptate perspiciatis, saepe
                            enim
                            corrupti quia tenetur, tempora, nihil Lorem ipsum dolor sit amet consectetur adipisicing
                            elit.
                            Omnis
                            et, ex minus mollitia quos fugiat amet aperiam quibusdam natus est culpa deserunt vitae
                            eveniet
                            beatae voluptatem similique, saepe repellat non! Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi voluptatibus labore unde iste fugiat quae similique consequatur aliquid possimus provident laudantium inventore quidem illum distinctio maxime cum, commodi repellat quod?Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo iste perferendis nostrum magni eligendi voluptas minus tempora maiores ipsam, iure nobis repellat sapiente repudiandae totam porro exercitationem. Tenetur, voluptatibus reprehenderit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quaerat atque mollitia laudantium magnam in nemo. Tempore quos saepe inventore neque cumque illum quod hic voluptatibus! 
                        </p>
                    </div>
                </div>
                <div class="cols">
                    <div class="first-col">
                        <div class="title">Subscription</div>
                        <div class="col-text">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ratione delectus,
                                doloremque
                                aspernatur facilis, quisquam harum repellendus quis dignissimos ea laborum quas
                                veritatis
                                esse
                                illo impedit! Cupiditate ratione similique ipsa?Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi odio nemo 
                            </p>
                        </div>
                        <button><b>Read more</b></button>
                    </div>
                    <div class="second-col">
                        <div class="title">Other Service</div>
                        <div class="col-text">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ratione delectus,
                                doloremque
                                aspernatur facilis, quisquam harum repellendus quis dignissimos ea laborum quas
                                veritatis
                                esse
                                illo impedit! Cupiditate ratione similique ipsa?Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis molestias earum voluptas, in qui rerum.
                            </p>
                        </div>
                        <button><b>Read more</b></button>
                    </div>
                </div>
            </main>
        </div>
        <footer>
            Copyright © 2014.
        </footer>
    </div>
</body>

</html>